{% extends 'base.html' %}
{% block content %}

<h1 class="center">Album Details</h1>
<div class="album-details">
<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ album.title }}</span>
                <p>Artist: {{ album.artist }}</p><br>
                <p>Genres: {{ album.genres }}</p><br>
                <p>Release Year: {{ album.release_year }}</p><br>
                <p>Tracklist: {{ album.track_list }}</p><br>
                <p>Your List: {{ album.list }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'update_album' album.id %}" class="btn">Edit</a>&nbsp;&nbsp;
                <a href="{% url 'delete_album' album.id %}" class="btn">Delete</a>
            </div>
        </div>
        {% for photo in album.photo_set.all %}
        <img class="responsive-img card-panel" src="{{photo.url}}">
        {% empty %}
        <div class="card-panel teal-text center-align">No Artwork Uploaded Yet</div>
        {% endfor %}
        <form action="{% url 'add_photo' album.id %}" enctype="multipart/form-data" method="POST" class="card-panel reg-form">
            {% csrf_token %}
            <input type="file" name="photo-file">
            <br><br>
            <button type="submit" class="btn">Upload Photo</button>
        </form>
    </div>
    <div class="col s1">
    </div>
    <div class="col s5">
        <h4>Listens:</h4>
        <form method="POST" action="{% url 'add_listen' album.id %}" class="listen-form reg-form">
            {% csrf_token %}
            {{ listen_form.as_p }}
            <input type="submit" class="btn" value="Add Listen">
        </form>
        <br>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time of Day</th>
                </tr>
            </thead>
            <tbody>
                {% for listen in album.listen_set.all %}
                <tr>
                    <td>{{listen.date}}</td>
                    <td>{{listen.get_timeofday_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if album.listened_within_a_week %}
        <div class="card-panel teal-text center-align">{{album.title}} has been listened to within the past week</div>
        {% else %}
        <div class="card-panel red-text center-align">{{album.title}} might need a listen</div>
        {% endif %}
    </div>
</div>

<hr>
<div class="row">
    <div class="col s5">
        <h3>{{ album.title }} is on:</h3>
        {% if album.lists.count %}
        {% for list in album.lists.all %}
        {% if list.user == request.user %}
        <div class="card">
            <div class="row">
                <div class="card-content col s6">
                    <span class="card-title">
                        <h4><span style="color: {{ list.color }}">{{ list.name }}</span></h4>
                    </span>
                </div>
                <div class="card-action col s5">
                    <form action="{% url 'remove_list' album.id list.id %}" method="POST" class="reg-form">
                        {% csrf_token %}
                        <button type="submit" class="btn-floating halfway-fab waves-effect waves-light red">-</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <h5>Not on any lists yet.</h5>
        {% endif %}
    </div>
    <div class="col s2"></div>
    <div class="col s5">
        <h3>Existing Lists:</h3>
        {% if lists.count %}
        {% for list in lists.all %}
        {% if list.user == request.user %}
        <div class="card">
            <div class="row">
                <div class="card-content col s6">
                    <span class="card-title">
                        <h4><span style="color: {{ list.color }}">{{ list.name }}</span></h4>
                    </span>
                </div>
                <div class="card-action col s5">
                    <form action="{% url 'assoc_list' album.id list.id %}" method="POST" class="reg-form">
                        {% csrf_token %}
                        <button type="submit" class="btn-floating halfway-fab waves-effect waves-light green">+</button>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <h5>{{album.title}} Already is on all existing lists.</h5>
        {% endif %}
    </div>
</div>
</div>
<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    const selectEl = document.getElementById('id_timeofday');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}