{% extends 'base.html' %}

{% block content %}
    <h1>About Album Collector</h1>
    <hr>
    <p>Album Collector is a web application created by Kailah Korsh with the intention of giving users a private digital space to create lists of albums. Many music lovers associate different albums together for a variety of reasons, and this gives them a space to dynamically create and edit lists of albums without crowding the streaming platform where they keep their saved music and playlists.</p>

{% endblock %}