body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(https://i.imgur.com/CY9vRDs.png);
    background-position: top;
    background-size: 100vw 100vh;
    color: #1b334f
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
    padding-top: 0;
    text-align: center;
}

nav, .page-footer {
    background-color: #2F5A8D;
    color: #F9F2EF;
}

img.test {
    height: 20vmin;
    width: 20vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

img.logo {
    height: 50px;
    margin: 1vmin;
    float: left;
    margin-left: 240px;
}

div.index-cards > div > img {
    height: 25vmin;
    padding: 0;
    margin: 2vmin 5vmin 2vmin 0;
    float: right
}

div.card > div.list-card-action {
    padding-left: 0;
    background-color: #203d6000;
}

div.card-content > span.card-title {
    font-size: 4.5vmin;
    padding: 0 0 2vmin 0;
}

form, form.card-panel {
    padding: 3vmin;
    border-radius: 1vmin;
    background-color: #2f598d52;
    color: white
}

form.listen-form {
    padding: 0;
}

img.album-on-list {
    height: 15vmin;
    margin: 1vmin 0 0 2vmin;
}

div.card {
    background-color: #2f598d52;
}

a {
    color: #203d60
}

.reg-form {
    background-color: #203d6000;
}

label {
    color: #1b334f;
    font-size: 2vmin;
}

input.btn-flat {
    font-size: 2.5vmin;
}

.btn, button {
    background-color: #203d60;
    color: #F9F2EF;
    border-radius: 1vmin;
}

.btn:hover, button:hover {
    background-color: #79AFB7;
    color: #F9F2EF;
}